<header class="header_area header_black">
    <!-- header top starts -->
    <div class="header_top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="social_icone">
              <ul>
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="top_right text-right">
              <ul>
                <li class="learning"><a href="#">Learning's<i class="ion-chevron-down"></i></a>
                  <ul class="dropdown_learning">
                    <li><a href="#">Inprogress Courses</a></li>
                    <li><a href="#">Completed Courses</a></li>
                  </ul>
                </li>
                <li class="top_links">
                  <a href="#">My Account<i class="ion-chevron-down"></i></a>
                  <ul class="dropdown_links">
                    <li><a href=""><%= locals.user_name %></a></li>
                    <li><a href="#">My Courses</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="index">Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header top ends -->
    <!-- header middle starts -->
    <div class="header_middel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="home_contact">
              <div class="contact_icone">
                <img src="image/icon/icon_phone.png" alt="">
              </div>
              <div class="contact_box">
                <p>For any queries :<a href="#contactus_section">
                    <button type="button" class="btn btn-secondary"> Contact us</button>
                  </a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 col-4">
            <div class="logo">
              <a href="index.html"><img src="image/icon/logo.png" alt=""></a>
            </div>
          </div>

          <div class="col-lg-5 col-md-7 col-6">
            <div class="middel_right">
              <div class="wishlist_btn">
                <a href="#"><i class="ion-heart"></i></a>
              </div>
              <div class="cart_link">
                <a href="#"><i class="ion-android-cart"></i><span class="cart_text_quantity">
                    2 Courses</span><i class="ion-chevron-down"></i></a>
                <span class="cart_quantity">2</span>

                <!-- mini cart -->
                <div class="mini_cart">
                  <div class="cart_close">
                    <div class="cart_text">
                      <h3>cart</h3>
                    </div>
                    <div class="mini_cart_close">
                      <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                  </div>
                  <div class="cart_item">
                    <div class="cart_img">
                      <a href="#"><img src="image/creator/instructor1.jpg" alt=""></a>
                    </div>
                    <div class="cart_info">
                      <a href="#">Mastering Data Structures with C</a>
                      <span class="quantity">Learn data Structures<br>Abdul Bari</span>
                      <span class="price_cart">₹ 2,259</span>
                    </div>
                    <div class="cart_remove">
                      <a href="#"><i class="ion-android-close"></i></a>
                    </div>
                  </div>
                  <div class="cart_item">
                    <div class="cart_img">
                      <a href="#"><img src="image/creator/instructor2.png" alt=""></a>
                    </div>
                    <div class="cart_info">
                      <a href="#">Java Programming Bootcamp</a>
                      <span class="quantity">Deep dive in Core Java <br>Bala Subramanian</span>
                      <span class="price_cart">₹ 2,259</span>
                    </div>
                    <div class="cart_remove">
                      <a href="#"><i class="ion-android-close"></i></a>
                    </div>
                  </div>
                  <div class="cart_total">
                    <span>Subtotal : </span>
                    <span>₹ 4,518</span>
                  </div>
                  <div class="mini_cart_footer">
                    <div class="cart_button view_cart">
                      <a href="#">View Cart</a>
                    </div>
                    <div class="cart_button checkout">
                      <a href="../checkout" class="active">Checkout</a>
                    </div>
                  </div>
                </div>
                <!-- mini cart ends  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- header middle ends -->

    <!-- header bottom starts -->

    <div class="header_bottom sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="main_menu_inner">
              <div class="logo_sticky">
                <a href="#"><img src="image/icon/logo.png" alt="logo"></a>
              </div>
              <div class="main_menu">
                <nav>
                  <ul>
                    <li>
                      <a href="#">Home <i></i></a>
                    </li>
                    <li>
                      <a href="#course">Courses<i class="ion-chevron-down"></i></a>
                      <ul class="mega_menu">
                        <li>
                          <a href="#course">Data Structures</a>
                          <ul>
                            <li><a href="#course">Data Structures C</a></li>
                            <li><a href="#course">Data Structures C++</a></li>
                            <li><a href="#course">Algorithms with C</a></li>
                            <li><a href="#course">Algorithms with C++</a></li>
                          </ul>
                        </li>

                        <li>
                          <a href="#course">Languages</a>
                          <ul>
                            <li><a href="#course">Java</a></li>
                            <li><a href="#course">Python</a></li>
                            <li><a href="#course">C</a></li>
                            <li><a href="#course">C++</a></li>
                          </ul>
                        </li>

                        <li>
                          <a href="#course">Other Courses</a>
                          <ul>
                            <li><a href="#course">Front End Development</a></li>
                            <li><a href="#course">Back End Development</a></li>
                            <li><a href="#course">Full Stack Development</a></li>
                            <li><a href="#course">Android Development</a></li>
                          </ul>
                        </li>

                      </ul>
                    </li>
                    <li><a href="#course">Top Courses</a></li>

            
                    <li><a href="#subscribeMDSA">Subscribe</a></li>

                    <li>
                      <a href="#">Student Offers<i class="ion-chevron-down"></i></a>
                      <ul class="sub_menu pages">
                        <li><a href="#">Unlimited access</a></li>
                        <li><a href="#">Q&A sessions</a></li>
                      </ul>
                    </li>
                    <li><a href="/quiz">Master Quizes</a></li>
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="#downloadMDSA">Download</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</header>

<div class="search-box">
  <div class="wrappercls">
    <div class="search-input">
      <a href="" target="_blank" hidden></a>
      <input type="text" placeholder="search courses..">
      <div class="autocom-box">
        <!-- here list are inserted from javascript -->
      </div>
      <div class="icon"><i class="fas fa-search"></i></div>
    </div>
  </div>
   <script src="js/suggestions.js"></script>
   <script src="js/script.js"></script>

</div>