<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Portal</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>
<body>

<div>
    <div class = "logo">
        <img src="admindef.png" alt="" width="300px">
    </div>

    <div class = "container">
        <div class = "admin-form">
            <form action="adminDashboard">
                <h2>ADMIN LOGIN</h2>
                <input type="text" placeholder="Admin Name">
                <input type="password" placeholder="password">
                <button type="submit">LOGIN</button>
            </form>
        </div>

        <div class = "admin-image">
            <img class = "adminimage" src="admin-image.jpg" alt="admin-image">
        </div>
    </div>

</div>
    
</body>
</html>