<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Courses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background-image: url('image/extra/b1.jpg'); background-size: 1600px; background-repeat: no-repeat;">
       
    <h1 style="align-items: center; padding: 20px; ; margin-left: 10px">Add Courses</h1>     
    <form action="/temp" method="post" style="padding: 20px;">
        <input style="padding-left: 10px;" type="text" name="ctitle" placeholder="Course Title" id="ww">
        <input type="text" name="profname" placeholder="Proffersor Name" id="er">
        <input type="text" name="cdescription" placeholder="Course Description" id="as">
        <input type="number" name="cprice" placeholder="Course Price" id="at">
        <input type="text" name="crating" placeholder="Course Rating" id="aq">
        <input type="file" name="image" id="" accept="image/png/jpg/jpeg">
        <button type="submit" class="btn btn-info">save</button>
    </form>
    <pre>






    </pre>
    <a href="/facultylogin">
    <button style="padding: 10px 40px 10px 40px; font-size: large; margin-left: 570px;" type="submit" class="btn btn-warning">Logout</button>
    </a>
</body>

    
</html>