body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}


.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; 
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #343a40;
    color: white;
    padding: 12px;
    margin: 30px 30px 20px;
    border: none;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #6c757d;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }


  .mini_cart {
    position: fixed;
    min-width: 355px;
    height: 100%;
    padding: 18px 20px 33px;
    background: 
    #f2f2f2;

    right: 0;
    top: 0;

  }


  .cart_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2d2d2d;
    padding-bottom: 10px;
  }
  .cart_close {
    border-bottom: 1px solid #2d2d2d;
  }
  .cart_text h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    color: #2d2d2d;
  }
  .mini_cart_close>a {
    font-size: 25px;
    color: #2d2d2d;
  }
  .mini_cart_close>a:hover {
    color: #a8741a;
  }
  .cart_item {
    padding: 20px 0;
    border-bottom: 1px solid #2d2d2d;
    display: flex;
    overflow: hidden;
  }
  .cart_img {
    width: 100px;
    margin-right: 10px;
  }
  .cart_info {
    width: 58%;
  }
  .cart_info a {
    font-weight: 400;
    color: #2d2d2d;
    text-transform: capitalize;
    font-size: 14px;
  }
  .cart_info a:hover {
    color: #a8741a;
  }
  .cart_info span {
    display: block;
  }
  .cart_info span.price_cart {
    color: #a8741a;
    font-weight: 500;
  }
 .cart_info span.quantity {
    color: #a0a0a0;
  }
  .cart_remove {
    width: 10%;
    text-align: right;
  }
  .cart_remove a {
    color: #eaeaea;
    font-size: 18px;
  }
  .cart_remove a:hover {
    color: #a8741a;
  }
  .cart_total {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .cart_total span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
